extends ../layout/_admin

block content
    h1 Admin
    .grid-container
        .grid-x
            .medium-2
                .stat
                    .num=users_count
                    |users
            .medium-2
                .stat
                    .num=work_count
                    |works
            .medium-2
                .stat
                    .num=travel_count
                    |travels
            .medium-2
                .stat
                    .num=bazaar_count
                    |bazaar
            .medium-2
                .stat
                    .num=citation_count
                    |citations
            .medium-2
                .stat
                    .num=podcast_count
                    |podcasts
            .medium-12
                table
                    for stat in stats
                        tr
                            td
                                nobr=stat.date.toLocaleDateString("fr-FR", {day:"2-digit", month:"long", /*year:"2-digit",*/ hour:"numeric", hour12:false, minute: "2-digit"})
                            td=stat.path
                            td=stat.country ? `${stat.country}` : "-"
                            td=stat.city ? `${stat.city} - ${stat.region}` : '-'
                            td
                                +delete(href=`/admin/stats/${stat.id}/delete`)