extends ../layout/_admin

block content
    h1 Admin
    .grid-container
        .grid-x
            .medium-2
                .stat
                    .num=users_count
                    |users
            .medium-2
                .stat
                    .num=work_count
                    |works
            .medium-2
                .stat
                    .num=travel_count
                    |travels
            .medium-2
                .stat
                    .num=bazaar_count
                    |bazaar
            .medium-2
                .stat
                    .num=citation_count
                    |citations
            .medium-2
                .stat
                    .num=podcast_count
                    |podcasts
            .medium-12
                table
                    tr
                        th Date
                        th Path
                        th Ip
                        th Country
                        th City
                    for stat in stats
                        tr
                            td=stat.date
                            td=stat.path
                            td=stat.ip
                            td
                                =`${stat.country} (${stat.countryCode})`
                            td
                                =`${stat.region} - ${stat.city}`
                            td
                                +delete(href=`/admin/stats/${stat.id}/delete`)