-data = data || {}
-errors = errors || {}

mixin line(value, index)
    option(value=`${value.id}` selected=travel && travel.parent==value.id)
        -var i=0
            while i<index
                span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                -i++
        span=value.name

    if (value.children)
        for child in value.children
            +line(child, index+1)

form(method="POST" encType="multipart/form-data")
                    
    label
        |Title
        if errors.title
            span.error=errors.title
        input(type="text" name="title" id="title" value=t(data, "title") autofocus)

    label
        |Description
        +textarea("description")=t(data, "description")

    label
        |Tags
        input(type="text" name="tags" id="tags" value=data.tags)
    
    label
        |Pic
        if data.pic
            img(src=getImg(data.pic, "nano"))
        input(type="file", name="pic")

    input.button(type="submit" value="Save")