extends ../../layout/_admin

mixin line(work)
    tr
        td
            a(href=`/admin/work/${work.id}`)
                if (work.pic)
                    img(src=getImg(work.pic, "nano"))
                    span &nbsp;
                span=t(work, "title")
        td
            small.has-tip(data-tooltip title=`Viewed ${work.stat.viewed} times`)=work.stat.viewed
        td
            small.has-tip(data-tooltip title=`Featured ${work.stat.featured} times`)=work.stat.featured
        td.text-right
            //a.admin-link(href=`/admin/work/${work.id}/pictures` title="Pictures") &boxbox;
            //span &nbsp;
            +delete(href=`/admin/work/${work.id}/delete`)

block content
    .grid-container.full
        .grid-x
            .cell.medium-6
                h1=t("work.page-title")
            .cell.medium-6
                .admin-right-btn
                    a.button.success(href="/admin/work/new")=t("admin.new.work")

    table.hover
        for item in items
            +line(item)
        else
            tr
                td
                    div.text-center.off No work yet