h2 Hey
if !current_user
    a(href="/users/signup") Signup
    span &nbsp;/&nbsp;

    a(href="/users/login") Login

if current_user
    span=current_user.login
    span &nbsp;/&nbsp;
    a(href="/users/logout") Logout

hr

if current_user && current_user.admin
    ul
        li
            a(href="/admin") Admin
        

hr
table(style="border:1px solid black")
    for user in users
        tr
            td=user.login
            td=user.email
            td=user.password
            td
                a(href=`/users/${user.id}/delete`) x
            td
                a(href=`/users/${user.id}/admin`) admin

hr

ul
    for game in games
        li
            a(href=`/games/${game.id}`)=game.name