extends layout/_layout

block content
    .grid-container
        .grid-x.grid-padding-x.grid-margin-xs
            .cell.medium-auto(style="margin-right:1rem")
                .grid-container.full
                    .grid-y.grid-padding-x
                        .cell.page
                            h1=t("home.welcome")
                            p.callout.secondary.small!=t("home.wait-message")
                            p Currently looking for a job as a web developer, this website is aimed to show who I am and what I can offer you.
                            p 
                                |Let's put things strait, I'm looking for a 
                                b sponsorship
                            p 
                                i more text to come...
                        .cell#cv-home-box
                            a(href="/cv")=t("home.cv")
                        .cell.page
                            h1=t("home.featured.work")
                            .callout 
                                |To come, 
                                i probably during next week
                            a(href="/bazaar/podcasts" style="margin:1rem 0;text-align:right;display:block")=t("home.featured.work.all")


            .cell.medium-shrink
                .grid-container.full
                    .grid-y.grid-padding-x
                        .cell.page
                            if travel
                                h2=t("home.featured.travel")
                                a(href=`/travels/${travel.url}`)
                                    if travel.pic
                                        img.hide-for-small-only(src=getImg(travel.pic, "home"), alt="")
                                        img.show-for-small-only(src=getImg(travel.pic, "banner"), alt="")
                                    else 
                                        .title(style="font-size:1rem")=travel.name
                                a(href="/travels" style="margin:1rem 0;text-align:right;display:block")=t("home.featured.travel.all")
                        
                        .cell.page.page-y
                            if podcast
                                h2=t("home.featured.podcast")
                                a(href=`bazaar/podcasts`)
                                    if podcast.pic
                                        img.hide-for-small-only(src=getImg(podcast.pic, "home"), alt="")
                                        img.show-for-small-only(src=getImg(podcast.pic, "banner"), alt="")
                                    else
                                        .title(style="font-size:1rem")=podcast.name
                                //.home-item
                                //    a(href=`bazaar/podcasts`)
                                //        if podcast.pic
                                //            img.hide-for-small-only(src=getImg(podcast.pic, "home"), alt="")
                                //            img.show-for-small-only(src=getImg(podcast.pic, "banner"), alt="")
                                //        .title(style="font-size:1rem")=podcast.name
                                //        .sub=podcast.title
                                br
                                a(href="/bazaar/podcasts" style="margin:1rem 0;text-align:right;display:block")=t("home.featured.podcast.all")


                //ul(style="margin:1rem 0;list-style-type:none")
                //    for game in games
                //        li
                //            a(href=`/games/${game.id}`)=game.name
                