-data = data || { width: 800, height: 600 }
-errors = errors || {}

form(method="POST")
    div
        label(for="name") 
            span Name
            span.error=errors.name
        input(type="text" name="name" id="name" value=data.name autofocus)
    div
        label(for="js") 
            span Js
            span.error=errors.js
        input(type="text" name="js" id="js" value=data.js)
    div
        label(for="width") 
            span Width
            span.error=errors.width
        input(type="text" name="width" id="width" value=data.width)
    div
        label(for="height") 
            span Height
            span.error=errors.height
        input(type="text" name="height" id="height" value=data.height)
    div
        input.button(type="submit" value="Save")