-data = data || {}
-errors = errors || {}

form(method="POST" encType="multipart/form-data")
    .grid-container.full
        .grid-x
            .cell.medium-6
                label(for="name") 
                    span Name
                    span.error=errors.name
                input(type="text" name="name" id="name" value=t(data, "name") autofocus)
            .cell.medium-6
                label(for="link") 
                    span Link
                    span.error=errors.link
                input(type="text" name="link" id="link" value=data.link)

    div
        label(for="description") 
            span Description
        +textarea("description")=t(data, "description")
    
    div
        label(for="pic")
            span Pic
        if data.pic
            img(src=getImg(data.pic, "nano"))
        input(type="file", name="pic")

    div
        input.button(type="submit" value="Save")
    
    dl
        dt Name
        dd=data.name
    dl
        dt Description
        dd=data.description