extends /layout/_layout

block content
    +to_admin("/admin/work")
    .page-title
        h1=t("work.page-title")
        .sub.show-for-medium=tag || t("work.sub-title")

    .grid-container.full.work-items
        .grid-x.grid-margin-x
            -let index=0
            for item in items
                -index++
                .cell.work-item
                    a(href=`/work/${item.url}`)
                        h4=t(item, "title")
                        if (item.pic)
                            img(src=getImg(item.pic, "banner"), alt="")
                        if (index < items.length)
                            hr
            if total > PER_PAGE
                .cell#pagination
                    a(href="/work") <<
                    -let p=1
                    while p < Math.ceil(total/PER_PAGE)+1
                        a(href=`/work/page:${p}` class=page==p-1?"current":"")=p
                        -p++
                    a(href=`/work/page:${Math.ceil(total/PER_PAGE)}`) >>