-data = data || {}
-errors = errors || {}

mixin line(value, index)
    option(value=`${value.id}` selected=travel && travel.parent==value.id)
        -var i=0
            while i<index
                span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                -i++
        span=value.name

    if (value.children)
        for child in value.children
            +line(child, index+1)

form(method="POST" encType="multipart/form-data")
    .grid-container
        .grid-x.grid-padding-x
            .cel.medium-6.small-12
                div
                    label(for="name") 
                        span Name
                        span.error=errors.name
                    input(type="text" name="name" id="name" value=data.name autofocus)

            .cell.medium-6.small-12
                div
                    label(for="parent") 
                        span Parent
                        span.error=errors.parent
                    select(name="parent")
                        option(value="") 
                        for parent in parents
                            +line(parent, 0)
    div
        label(for="title") 
            span Title
        input(type="text" name="title" id="title" value=data.title)

    div
        label(for="description") 
            span Description
        +textarea("description")=data.description
        //textarea(name="description" rows="10")=data.description
    
    div
        label(for="pic")
            span Pic
        if data.pic
            img(src=getImg(data.pic, "nano"))
        input(type="file", name="pic")


    div
        input.button(type="submit" value="Save")