header.admin
    include _site_title

    .main-menu
        .grid-container
            .cell
                nav.main
                    ul
                        li(class=menu=='user'?'active':'')
                            a(href="/admin/users") Users
                        li(class=menu=='work'?'active':'')
                            a(href="/admin/work")=t("top_menu.work")
                        li(class=menu=='travel'?'active':'')
                            a(href="/admin/travels")=t("top_menu.travels")
                        li(class=menu=='bazaar'?'active':'')
                            a(href="/admin/bazaar") Bazaar
                        li(class=menu=='citation'?'active':'')
                            a(href="/admin/citations") Citations
                        li(class=menu=='images'?'active':'')
                            a(href="/admin/images") Images

    include _user_menu