header
    include _site_title

    .main-menu
        .grid-container
            .cell
                nav.main
                    ul
                        li(class=menu=='home'?'active':'')
                            a(href="/")=t("top_menu.home")
                        li(class=menu=='work'?'active':'')
                            a(href="/work")=t("top_menu.work")
                        li(class=menu=='travel'?'active':'')
                            a(href="/travels")=t("top_menu.travels")
                        li(class=menu=='bazaar'?'active':'')
                            a(href="/bazaar")=t("top_menu.bazaar")

    include _user_menu

                                    