header
    include _site_title

    .main-menu(data-sticky-container data-sticky data-margin-top="0" data-top-anchor="header-title:bottom")
        .grid-container
            .cell
                nav.main
                    ul
                        li(class=menu=='home'?'active':'')
                            a(href="/")=t("top-menu.home")
                        li(class=menu=='work'?'active':'')
                            a(href="/work")=t("top-menu.work")
                        li(class=menu=='travel'?'active':'')
                            a(href="/travels")=t("top-menu.travels")
                        li(class=menu=='bazaar'?'active':'')
                            a(href="/bazaar")=t("top-menu.bazaar")

    include _user_menu

                                    