include /_mixins
doctype html
html(lang=lang)
  head
    meta(charset='utf-8')
    meta(http-equiv="Content-Type" content="text/html; charset=ISO-8859-1")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link( rel="icon" href="/img/favicon.ico")
    link(rel='stylesheet', href='/css/main.css')
    title 
      if seo && t(seo, "title")
        =`${t(seo, "title")} | `
      |Julien Breiner
    if seo && t(seo, "description")
      meta(name="description" content=t(seo, "description"))
    if seo && t(seo, "keywords")
      meta(name="keywords" content=t(seo, "keywords"))

  body(class=menu)
  
    //include flash_message
    include _header
    //include _flash
    .content
      .content-content
        include _breadcrumb 

        if menu == "home"
          block content
        else 
          .grid-container#page
            .grid-x
              .cell
                block content
      
    include _footer

    #visionneuse
      #visionneuse-content
        img#visionneuse-img
        button#visionneuse-close &times;
        button#visionneuse-next &gt;
        button#visionneuse-prev &lt;
        #visionneuse-preload.hidden
    

    link(href="https://fonts.googleapis.com/css?family=Passion+One:900|Advent+Pro:100" rel="stylesheet")

    script(src="/js/script.js")