.user-menu
    .grid-container
        .cell         
            nav.user
                ul
                    li
                        a(href="/lang/fr")
                            img.lang-icon(src="/img/fr.jpg", alt="" data-tooltip title="Français" data-position="bottom"  class=lang=="fr"?"current":"")
                        |&nbsp;
                        a( href="/lang/en")
                            img.lang-icon(src="/img/us.jpg", alt="" data-tooltip title="English" data-position="bottom" class=lang=="en"?"current":"")
                    if !current_user
                        li
                            a(href="/users/signup")=t("top-menu.signup")
                        li
                            a(href="/users/login")=t("top-menu.login")

                    else
                        li
                            a#user-link(href="/")=current_user.login
                        li
                            a(href="/users/logout")=t("top-menu.logout")

                    if current_user && current_user.admin
                        li
                            if bc && bc[0] && bc[0][0] == "Admin"
                                a(href="/") Site
                            else
                                a(href="/admin") Admin