extends /layout/_layout

block content

    .grid-container.full(style="position:relative")
        .grid-x
            .cell.auto
                +to_admin(`/admin/travels/${travel.id}`)
                h1=t(travel, "name")
            .cell.shrink
                //img(src="/img/balkans.png", alt="")

    if travel.pic
        img.article-banner.visionneuse-reveal(src=getImg(travel.pic, "banner") data-src=getImg(travel.pic) data-all="travel-pics" data-index=0)
    
    .justify
        p!=format(t(travel, "description"))
    
    -let pics=[getImg(travel.pic)]


    if travel.pics.length > 0
        .pics
            .grid-container.full
                .grid-x.grid-margin-x.grid-margin-y(stype="positition:relative")
                    +to_admin(`/admin/travels/${travel.id}/pictures`)
                    -let index=1
                    for pic in travel.pics
                        -pics.push(getImg(pic))
                        .cell.small-3.medium-2
                            img.visionneuse-reveal(src=getImg(pic, "mini") data-src=getImg(pic) data-all="travel-pics" data-index=index++ alt="")
                            //img.hidden(src=getImg(pic) alt="")
    
    .hidden#travel-pics(data-src=pics.join(','))

    .grid-container.full
        .grid-x.grid-margin-x
            for child in travels
                .cell.medium-4.small-6
                    .home-item
                        a(href=path+"/"+child.url)
                            if child.pic
                                img(src=getImg(child.pic, "home"), alt="")
                            .title=t(child, "name")
                            .sub=t(child, "title")