extends /layout/_layout

block content


    +to_admin(`/admin/travels/${travel.id}`)
    h1=travel.name

    if travel.pic
        img(src=getImg(travel.pic, "banner"))
    
    .justify
        p!=format(travel.description)


    .grid-container.full
        .grid-x.grid-margin-x
            for child in travels
                .cell.medium-4.small-6
                    .home-item
                        a(href=path+"/"+child.url)
                            if child.pic
                                img(src=getImg(child.pic, "home"), alt="")
                            .title=child.name
                            .sub=child.title